<a href="https://colab.research.google.com/github/phutaekwondo/CS114.L21/blob/main/duDoanDiemCuoiKy_homeWork/draft.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

># **Data Discovery**

---

##**Nhóm thực hiện**
1. Lại Nguyễn Vĩnh Phú - 19522020
2. Nguyễn Chí Cường - 19521299
3. Trương Thế Trương - 19522447

##***Dữ liệu***

1. [We code](https://github.com/phutaekwondo/CS114.L21/blob/main/duDoanDiemCuoiKy_homeWork/wecode.csv)
2. [score training](https://github.com/phutaekwondo/CS114.L21/blob/main/duDoanDiemCuoiKy_homeWork/score.csv)

features:

+ số lần nộp bài để pass(theo problem_id, user_id )
+ time last submit - time first submit ( theo pro_id, user_id)
+ max (pre_score) (theo pro_id, user_id)

features table

user_id | problem_id | số lần nộp | time | max(pre_score) |
--------|------------|------------|------|----------------|

In [ ]:
import pandas as pd
import numpy as np

In [66]:
!git clone https://github.com/phutaekwondo/CS114.L21

fatal: destination path 'CS114.L21' already exists and is not an empty directory.

In [67]:
url_wecode = '/content/CS114.L21/duDoanDiemCuoiKy_homeWork/wecode.csv'
url_score = '/content/CS114.L21/duDoanDiemCuoiKy_homeWork/score.csv'

In [68]:
data_wecode = pd.read_csv(url_wecode)
data_score = pd.read_csv(url_score)

In [69]:
data_wecode

            id  assignment_id  ...           created_at           updated_at
0            4              0  ...  2020-10-30 10:58:11  2020-10-30 10:58:19
1            5              0  ...  2020-10-30 11:07:09  2020-10-30 11:07:17
2            6              0  ...  2020-10-30 11:08:01  2020-10-30 11:23:36
3            7              0  ...  2020-10-30 11:11:41  2020-10-30 11:11:42
4            8              0  ...  2020-10-30 11:15:06  2020-10-30 11:15:07
...        ...            ...  ...                  ...                  ...
264601  266667              0  ...   2021-04-28 9:34:20   2021-04-28 9:34:27
264602  266668              0  ...   2021-04-28 9:35:07   2021-04-28 9:35:08
264603  266669              0  ...   2021-04-28 9:35:15   2021-04-28 9:35:21
264604  266670              0  ...   2021-05-11 1:34:57   2021-05-11 1:35:28
264605  266671             21  ...  2021-05-13 17:17:17  2021-05-13 17:17:40

[264606 rows x 12 columns]

In [76]:
features_wecode = {'user_id': data_wecode['user_id'], 'problem_id': data_wecode['problem_id']}
features_wecode = pd.DataFrame(features_wecode, columns = ['user_id', 'problem_id'])

In [72]:
features_wecode

        user_id  problem_id
0             4           3
1             4           4
2             4           5
3             4           5
4             4           5
...         ...         ...
264601     1796          25
264602     1796          25
264603     1796          25
264604      255         150
264605     1568          24

[264606 rows x 2 columns]

In [78]:
from collections import Counter
count_submit = Counter(features_wecode['user_id']).items()

In [83]:
count_submit
data_submit = pd.DataFrame(count_submit, columns=['user_id', 'amount_submit'])

In [84]:
data_submit

      user_id  amount_submit
0           4             54
1        1439            268
2        1549            216
3        1517            420
4         715            239
...       ...            ...
1154      644             57
1155     1575             15
1156     1125             14
1157     1556             64
1158     1452             63

[1159 rows x 2 columns]

In [75]:
data_score

       id   QT   GK   TH   CK  TBM  TBTL
0      22   10    9  8.5  8.5  8.8  8.52
1      24   10    8   10  9.5  9.4  8.41
2      27   10   10   10   10   10  8.67
3      28   10  9.5  7.5  9.5  9.2  7.39
4      29   10  9.5    5  8.5  8.2  8.05
..    ...  ...  ...  ...  ...  ...   ...
970  1857    5  4.5   10    4    6  6.03
971  1859    8    5   10  1.5  5.4  5.06
972  1862    5  6.5    1  7.5  5.1  4.71
973  1865  6.5         3  7.5       6.89
974  1866    9  7.5    2    5    5  7.05

[975 rows x 7 columns]

In [79]:
features_score = {'id': data_score['id'], 'CK': data_score['CK']}
features_score = pd.DataFrame(features_score, columns = ['id', 'CK'])

In [80]:
features_score

       id   CK
0      22  8.5
1      24  9.5
2      27   10
3      28  9.5
4      29  8.5
..    ...  ...
970  1857    4
971  1859  1.5
972  1862  7.5
973  1865  7.5
974  1866    5

[975 rows x 2 columns]

# **Nhận Xét**